body {
    background:#1b8b8f;
}

.container {
    width:880px;
    justify-content: center;
    position:relative;
}

header.container {
    justify-content:center;
}

nav {
    background:#603b32;
    padding:22px;
    text-align:center;
    margin:0px;
}

nav a {
    color:#fff;
    text-decoration:none; 
    font-family: open sans;
    padding:20px;
    background:#603b32;
    transition:0.6s;
    margin:0px;
}

nav a:hover {
    background:#917a6a;
    transition:0.6s;
}

main.container {
    background:#458088;
    display: flex;
}

section h2 {
    color:#fff;
    font-family: open sans;
    text-transform:uppercase;
    background:#603b32;
    padding:15px;
    border-radius:15px;
}

section {
    padding:15px;
}

section p {
    color:#fff;
    line-height:1.3rem;
    text-align:left;
    font-family:open sans;
    font-size:1rem;
}

section img {
    scale:0.9;
    border-radius:20px;
}

aside {
    background:#fff;
    padding:20px;
    font-family:open sans;
    color:#333;
}

aside h2 {
    color:#fff;
    font-family: open sans;
    text-transform:uppercase;
    background:#603b32;
    padding:15px;
    border-radius:15px;
}