@media (max-width: 960px) {
    body {
        overflow-x:hidden;
    }

    main.container {
        flex-direction: column;
        flex-wrap:wrap;
    }

    section {
        width:100%;
    }

    aside {
        width:99%;
    }
    
    header.container {
        width:100%;
    }
}

@media (max-width: 560px) {
    aside {
        display:none!important;
    }

    section {
        flex-basis:80%;
    }
}

body {
    background:#1b8b8f;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:0px;
    padding:0px;
}

main.container {
    width:100%;
    justify-content: center;
    align-items:stretch;
    display: flex;
    justify-content:flex-start;
}

header.container {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width:100%;
}

nav {
    background:#603b32;
    padding:0px;
    text-align:center;
    margin:0px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    width: 100%;
}

nav a {
    color:#fff;
    text-decoration:none; 
    font-family: PT Sans Narrow;
    padding:20px;
    background:#603b32;
    transition:0.6s;
    margin:0px;
    font-size:1.6rem;
}

nav a:hover {
    background:#917a6a;
    transition:0.6s;
}

section h2 {
    color:#fff;
    font-family: PT Sans Narrow;
    text-transform:uppercase;
    background:#603b32;
    padding:15px;
    border-radius:15px;
    text-align:center;
    font-size:1.4rem;
}

section {
    padding:15px;
    flex-basis:70%;
    background:#458088;
    display:flex;
    flex-direction: column;
}

section p {
    color:#fff;
    line-height:1.3rem;
    text-align:left;
    font-family:open sans;
    font-size:1rem;
    padding-left:10px;
}

section img {
    scale:0.9;
    border-radius:10px;
    position:relative;
    margin-left:0px;
}

aside {
    order:2;
    flex-basis:30%;
    background:#fff;
    padding:20px;
    font-family:open sans;
    color:#333;
    text-align:justify;
    display:flex;
    flex-direction: column;
}

aside h2 {
    color:#fff;
    font-family: PT Sans Narrow;
    text-transform:uppercase;
    background:#603b32;
    padding:15px;
    border-radius:15px;
    font-size: 1.4rem;
    text-align:center;
}

